<%- include('navbar.ejs') %>

<%  if(q!=null){ %>
<html>
    <head> 
        <script type="text/javascript" src="/socketio.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/PostStyle.css">
        <script type="text/javascript" src="/socketio.js"></script>
        <title><%=q.title%></title>
    </head>
    <body>
        <center>
            
            <div class="post" style="width:30%;">
           
            <!-- OG COLOR: background-color:#03A9F4;-->
                <div class="postHeading" style=" background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);">
                    <h2 align="center"><%=q.title%></h2>
                </div>
                <div class="postContent">
                    <div class="postText">
                        <%=q.content%>
                    </div>
                </div>
                <hr>
                <input type="text" autocomplete="off" placeholder="Answer this question!" id="answerbox" class="postTextBox" onkeypress="answer(event)" >
            </div>

            <br><br>

            <hr style="width:25%"><br>
            <div class="post" style="width:30%;overflow:hidden">
                <div id="answers" style="width:100%;margin:0px;background-color:white;">            
                    <% 
                    //console.log(a.length);
                    if(a.length>0){


                        a.sort(function(a,b){
                            return  b.date > a.date; 
                        });

                        for(var i=0;i<a.length;i++){ %> 
                            
                          <%- include('renderAnswer.ejs', {data: a[i],body:false}); %>
                          <hr>
                        <% } %>

                    <% }else{ %>
                    
                        <div class="postText" id="noanswers" style="text-align:center;margin-left:5px;color:grey;padding:10px;">
                            <div style="margin:5px"></div>
                               this post has no answers 😥
                            <br>
         
                        </div>
                        
                    <% }%>

                </div>
            </div>


        </center>
    </body>
</html>

<script type="text/javascript">


    socket = io();

  

    socket.emit('join', location.pathname.substring(3));

    socket.on('postError', function(msg){
        alert(msg.message);
    });

    function bump(username,id){
        socket.emit('sendBump',{
            username:username,
            url:"<%=q.url%>",
            sid:"<%=sessionID%>"
        });
        updatePost(id,username);
        //location.reload();
    }

    function unbump(username,id){
        socket.emit('sendUnBump',{
            username:username,
            url:"<%=q.url%>",
            sid:"<%=sessionID%>"
        });
        updatePost(id,username);
        //location.reload();
    }

    socket.on('newAnswer', function(msg){
          //alert("ddd");
          $.post("/getAnswer",{
                username: msg.username,
                url: "<%=q.url%>",
                html: "true"
         },function(post, status){
             
             if($("#noanswers").length){
                $("#noanswers").fadeOut(function(){
                    $(post).hide().prependTo("#answers").fadeIn(1000);
                });
            }else{
                $(post).hide().prependTo("#answers").fadeIn(1000);
            }
        });	
	});

    function updatePost(id,username){
        
         $.post("/getAnswer",{
                username: username,
                url: "<%=q.url%>",
                html: "true"
         },function(post, status){
                //alert(post);
                $("#"+id).replaceWith(post);
         });
    }

    function answer(e){
        if(e.keyCode==13){
            socket.emit('answer',{
                content:document.getElementById("answerbox").value,
                url:"<%=q.url%>",
                sid:"<%=sessionID%>"
	        }); 
            document.getElementById("answerbox").value="";
        }
    }

    

</script>

    <% } else {%>
        
        <center>
            <h1> UH-OH! </h1>
            <h2>
            we don't really know what happened tbh.<br>
            This question no longer exists maybe????<br>
            I don't know man.<br>
            </h2>
            😭😭😭😭😭 
            <br><br><br><br><br><br><br><br>
            <a href="/all">Take me back to the comfort of the all page</a>           
        </center>


    <% } %>